PETCLINIC_MYSQL_ROOT_PASSWORD=replace-with-a-local-root-password
PETCLINIC_MYSQL_USER=petclinic
PETCLINIC_MYSQL_PASSWORD=replace-with-a-local-mysql-password
PETCLINIC_MYSQL_DATABASE=petclinic

PETCLINIC_POSTGRES_USER=petclinic
PETCLINIC_POSTGRES_PASSWORD=replace-with-a-local-postgres-password
PETCLINIC_POSTGRES_DB=petclinic
